 @font-face { font-family: Rockwell; src: url(images/Rockwell.ttf); } 

body{
    font-family: helvetica, arial, sans-serif;
    background: #bbd9f1;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #000000;
}

h2{
    font-family: Rockwell;
    color: #3a607a;
}

h3{
    font-family: Rockwell;
    color: #ffffff;
}

.navbar-static-top {
  margin-bottom: 19px;
}

#EventsHome{
    background-color: #ffffff;
}
.profile{
    background-color: #ffffff;
    padding:20px;
}

.upcomingEvent{
    background-color: #3aa1d4;
    padding: 10px;
    color: #ffffff;
    margin: 15px;
    
}

.stats{
    background-color: #3aa1d4;
    padding: 15px;
    color: #ffffff;
    border: solid;
    margin: auto;
}

.stats h2{
    color: #ffffff;
}
.instagram {
  padding: 5px;
  width: 50%;
}
