 @font-face { font-family: Rockwell; src: url(images/Rockwell.ttf); } 

body{
    font-family: helvetica, arial, sans-serif;
    background: #6c9595;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #000000;
}

h2{
    font-family: Rockwell;
    color: #2e2e2c;
}

h3{
    font-family: Rockwell;
    color: #ffffff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
}

.footer p{
    padding-top: 15px;
    color: #777777;
}

.footer a{
    color: #777777;
    font-weight: bold;
}

.navbar-static-top {
  margin-bottom: 19px;
}

#EventsHome{
    background-color: #ffffff;
}
#profile{
    background-color: #ffffff;
    padding:20px;
}

.upcomingEvent{
    background-color: #9fbdbd;
    padding: 10px;
    color: #ffffff;
    margin: 15px;
    
}

.stats{
    background-color: #9fbdbd;
    padding: 15px;
    color: #ffffff;
    margin: 15px;
}

.stats h2{
    color: #ffffff;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;background: #2e2e2c;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;

}

