<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>World Surf League Championship Tour</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Avery Thomas">

    <!-- Style Sheets-->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  
    <!-- Java Script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
 
  </head>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="css/images/logo.png" style="height: 100%"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="home.html">Home</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="rankings.html">Rankings</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  

  <div class="container">
    <div class="col-md-12">
      <img src="css/images/logo_large.png" style="width: 100%; padding-top:50px; padding-bottom: 50px;">
    </div>
    
  </div>

</body>
</html>
