{% extends "base.html" %}
{% load humanize %}

{% block content %}

<div class="col-md-12" class="profile">
        <div class="row">
        <div class="col-xs-4">
            <img src="" style="width: 100%;">
        </div>
        <div class="col-xs-8">
            <h2> {{ athlete.name }} | {{ athlete.jerseyNumber }}</h2>
            <p>Hometown: {{ athlete.hometown }}</p>
            <p>Birthday: {{ athlete.dob }}</p>
        </div>
        </div>
        <div class="row">
        <div class="col-md-3 col-xs-5 stats">
            <center>
            <h2>Rank:</h2>
            <h2>{{ athlete.rank }}</h2>
            </center>
        </div>
        <div class="col-md-3 col-xs-5 stats">
            <center>
            <h2>Points:</h2>
            <h2>{{ athlete.points|intcomma }}</h2>
            </center>
        </div>
         <div class="col-md-3  col-xs-5 stats">
            <center>
            <h2>Earnings:</h2>
            <h2>${{ athlete.earnings|intcomma }}</h2>
            </center>
        </div>
        <div class="col-md-3 col-xs-5 stats">
            <center>
            <h2>CT Heat Wins:</h2>
            <h2>{{ athlete.CTHeatWins }}</h2>
            </center>
        </div>
        <div class="col-md-3 col-xs-5 stats">
            <center>
            <h2>Avg Heat Score:</h2>
            <h2>{{ athlete.avgHeatScore }}</h2>
            </center>
        </div>
        <div class="col-md-3 col-xs-5 stats">
            <center>
            <h2>Total Earnings:</h2>
            <h2>{{ athlete.winnings }}</h2>
            </center>
        </div>
         <div class="col-md-3 col-xs-5 stats">
            <center>
            <h2>Height:</h2>
            <h2>{{ athlete.height }}</h2>
            </center>
        </div>
         <div class="col-md-3 col-xs-5 stats">
            <center>
            <h2>Weight:</h2>
            <h2>{{ athlete.weight }} lbs</h2>
            </center>
        </div>
        </div>

    </div>

   

{% endblock %}
