{% extends "base.html" %}

{% block content %}

<div id="EventsHome" class="col-md-6">
      <h2>Men's Rankings</h2>
      <div class="upcomingEvent row">
        <div class="col-xs-4">
            <img src="css/images/avatar.png" style="width: 100%">
        </div>
        <div class="col-xs-8">
        <h4>Athlete Name | ##</h4>
        <p>Rank: </p>
        <p>Points:</p>
        <p>Earnings:</p>
        </div>
      </div>
    </div>
    <div id="EventsHome" class="col-md-6">
      <h2>Women's Rankings</h2>
      <div class="upcomingEvent row">
        <div class="col-xs-4">
            <img src="css/images/avatar.png" style="width: 100%">
        </div>
        <div class="col-xs-8">
        <h4>Athlete Name | ##</h4>
        <p>Rank: </p>
        <p>Points:</p>
        <p>Earnings:</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
